{% extends "base.html" %}
{% block content %}
    <h1> {{ user.first_name }} {{ user.last_name }}  привет!</h1>
    <p>
        <a type="button" class="btn btn-light" {% if view_name  == 'users:password_change' %}active{% endif %}"
        href="{% url 'users:password_change' %}">Изменить
         пароль</a>
        </p>
         <p>
     <a type="button" class="btn btn-light"  {% if view_name  == 'users:logout' %}active{% endif %}"
        href="{% url 'users:logout' %}">Выйти</a>
    </p>
{% endblock %}