{% extends 'base.html' %}
{% block title %} {{ train }} {% endblock %}
{% block name %}

    {% if create or is_edit %}
        <label for="exampleFormControlInput1" class="form-label">Инспекция: {{ mai_type }} </label>
    {% endif %}
    <div class="row">
        <article class="col-12 col-md-9">

            {% if create %}
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'train:mai_create_from_list' train_id=train.id mai_id=mai_type.pk %}">
            {% elif is_edit %}
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'train:mai_detail' mai_id=mai_done.id %}">
            {% else %}
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'train:mai_create' train.id %}">
            {% endif %}

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-light">
                Сохранить
            </button>
            <a type="button" class="btn btn-light"
               href="{% url 'train:mai_list' train.id %}">Вернуться к списку инспекций</a>
            {% if is_edit %}
                {% if mai_done.musthave and admin %}
                    <a type="button" class="btn btn-outline-danger" onclick="clicked(event)"
                       href="{% url 'train:mai_delete' mai_id=mai_done.pk %}">Удалить</a>
                {% elif not mai_done.musthave and admin %}
                    <a type="button" class="btn btn-danger" onclick="clicked(event)"
                       href="{% url 'train:mai_delete' mai_id=mai_done.pk %}">ПОМЕЧЕНА Удалить?</a>
                    <a type="button" class="btn btn-light"
                       href="{% url 'train:mai_not_delete' mai_id=mai_done.pk %}">Снять пометку об удалении</a>
                {% elif mai_done.musthave %}
                    <a type="button" class="btn btn-outline-danger"
                       href="{% url 'train:mai_delete' mai_id=mai_done.pk %}">Пометить на удаление</a>
                {% else %}
                    <a type="button" class="btn btn-danger"
                       href="{% url 'train:mai_delete' mai_id=mai_done.pk %}">ПОМЕЧЕНА НА УДАЛЕНИЕ</a>
                {% endif %}
            {% endif %}
            </form>
        </article>
    </div>

    <script>
        function clicked(e) {
            if (!confirm('Действительно удалить запись? Запись будет удалена безвозвратно.')) {
                e.preventDefault();
            }
        }
    </script>

    {% include 'includes/paginator.html' %}
{% endblock %}