{% extends 'base.html' %}
{% block title %}
    <h1>{{ train }}</h1>
{% endblock %}
{% block content %}
    <p><a type="button" class="btn btn-light"
          href="{% url 'train:train_list' %}">Назад к списку поездов</a>
        <a type="button" class="btn btn-light"
           href="{% url 'train:mai_export' train_id=train.id %}">Выгрузить в Excel</a>
    </p>

    <p>
    <div class="btn-group" role="group" aria-label="Default button group">
        {% for mai_a in main_another %}

            <a type="button" class="btn btn-outline-light"
               href="{% url 'train:mai_create_from_list' train_id=train.id mai_id=mai_a.pk %}">
                Добавить: {{ mai_a.comment }}</a>


        {% endfor %}
    </div>
    </p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Mileage</th>
            <th scope="col">Date</th>
            <th scope="col">Place</th>
            <th scope="col">Comment</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for mai in result %}
            {% if mai.place == 'ЕКБ' or mai.place == '-' %}
                <tr class="table-secondary">
                    {% else %}
                <tr>
            {% endif %}


        {% if mai.number == None %}
            <th scope="row">-</th>
        {% else %}
            <th scope="row">{{ mai.number }}</th>
        {% endif %}
        <td>{{ mai.type }}</td>
        <td>{{ mai.mileage }}</td>
        {% if mai.maintenance_date == "-" %}
            <td>{{ mai.maintenance_date }}</td>
        {% else %}
            <td>{{ mai.maintenance_date|date:"d.m.Y" }}</td>
        {% endif %}
        <td>{{ mai.place }}</td>
        {% if mai.comment == None %}
            <td>-</td>
        {% else %}
            <td>{{ mai.comment }}</td>
        {% endif %}
        <td>{{ mai.author.username }}</td>
        {% if mai.done %}
            <td><a type="button" class="btn btn-outline-dark"
                   href="{% url 'train:mai_detail' mai_id=mai.pk %}">Изменить</td>
        {% else %}
            <td><a type="button" class="btn btn-outline-dark"
                   href="{% url 'train:mai_create_from_list' train_id=train.id mai_id=mai.pk %}">Создать</td>
        {% endif %}
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <p><a type="button" class="btn btn-light"
          href="{% url 'train:train_list' %}">Назад к списку поездов</a>
        <a type="button" class="btn btn-light"
           href="{% url 'train:mai_export' train_id=train.id %}">Выгрузить в Excel</a>
        {% include 'includes/paginator.html' %}
{% endblock %}